@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html {
  font-size: 62.5%;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

.header-wrap {
  position: relative;
  height: 100vh;
}

#header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.logo {
  color: #fff;
  font-size: 3.2rem;
}

.active {
  color: #000 !important;
}

.nav {
  font-size: 1.6rem;
}

.nav > li {
  padding: 10px 5px;
}

.nav > li:hover > a {
  color: #fff;
}

.nav a {
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.properties {
  position: relative;
}

.properties:hover .properties__nav {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.properties__nav {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px 0px;
  position: absolute;
  visibility: hidden;
  top: 120%;
  opacity: 0;
  width: 200px;
  background: #fff;
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  -webkit-box-shadow: 0 2px 10px -2px #3c3c3c;
          box-shadow: 0 2px 10px -2px #3c3c3c;
}

.properties__nav a {
  padding: 5px 20px;
  display: block;
  color: #343a40;
}

.properties__nav a:hover {
  color: #1f3c88;
}

.properties__nav:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20%;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.submenu {
  position: relative;
}

.submenu i {
  float: right;
  line-height: 2.4rem;
  display: block;
}

.submenu:hover .submenu__nav {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.submenu__nav {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 200px;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 100%;
  top: 100%;
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  -webkit-box-shadow: 0 2px 10px -2px #3c3c3c;
          box-shadow: 0 2px 10px -2px #3c3c3c;
}

#slider {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: 1;
  width: 100%;
}

#slider .slider__fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: 0.4;
}

#carouselExampleControls {
  height: 100%;
}

#carouselExampleControls .carousel-inner {
  height: 100%;
}

#carouselExampleControls .carousel-inner .carousel-item {
  position: relative;
  height: 100%;
}

#carouselExampleControls .carousel-inner .carousel-item .bg-img__slider1,
#carouselExampleControls .carousel-inner .carousel-item .bg-img__slider2,
#carouselExampleControls .carousel-inner .carousel-item .bg-img__slider3 {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#carouselExampleControls .carousel-inner .carousel-item .bg-img__slider1 {
  background-image: url("../img/slider/homeslider1.jpg");
}

#carouselExampleControls .carousel-inner .carousel-item .bg-img__slider2 {
  background-image: url("../img/slider/homeslider2.jpg");
}

#carouselExampleControls .carousel-inner .carousel-item .bg-img__slider3 {
  background-image: url("../img/slider/homeslider3.jpg");
}

#carouselExampleControls .carousel-inner .carousel-item .banner__details {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

#carouselExampleControls .carousel-inner .carousel-item .banner__details span,
#carouselExampleControls .carousel-inner .carousel-item .banner__details h1 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

#carouselExampleControls .carousel-inner .carousel-item .banner__details span {
  font-size: 1.5rem;
  padding: 5px 16px;
  background-color: #7cbd1e;
  border-radius: 4px;
}

#carouselExampleControls .carousel-inner .carousel-item .banner__details h1 {
  font-size: 4.2rem;
}

#carouselExampleControls .carousel-inner .carousel-item .banner__details h3 {
  color: #7cbd1e;
  font-size: 3.5rem;
  font-weight: 600;
}

#carouselExampleControls .carousel-inner .carousel-item .banner__details a {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 1.4rem;
  padding: 16px 48px;
  color: #fff;
  letter-spacing: .3rem;
}

#carouselExampleControls .carousel-inner .carousel-item .banner__details a:hover {
  background-color: #fff;
  color: #000;
}

select::-ms-expand {
  display: none;
}

#search-form {
  padding-top: 64px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.search-form__content {
  padding: 48px 32px;
  background-color: #364e68;
  margin-top: -100px;
  z-index: 1;
  position: relative;
}

.search-form__content .col-md-3 {
  padding: 0px 15px;
}

.search-form__content .col-md-3 select,
.search-form__content .col-md-3 input {
  padding: 6px 12px;
  width: 100%;
  height: 47px;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

.search-form__content .col-md-3 input {
  background-color: #7cbd1e;
  color: #fff;
}

.search-form__content .col-md-3 input:hover {
  background-color: #669c19;
}

.search-form__content .col-md-3 label {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.select-wrap {
  position: relative;
}

.select-wrap i {
  position: absolute;
  right: 12px;
  font-size: 1.6rem;
  top: 50%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

#content {
  padding-bottom: 64px;
  background-color: #f9f9f9;
}

#content .content__filter {
  padding: 15px;
  font-size: 1.4rem;
}

#content .content__filter i {
  cursor: pointer;
  font-size: 2rem;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.6);
}

#content .content__filter i:hover {
  color: #000;
}

#content .content__filter li {
  display: inline-block;
  padding: 0 16px;
}

#content .content__filter li a {
  color: gray;
}

#content .content__filter li a:hover {
  color: #000;
}

#content .content__filter li:first-child a {
  color: #000;
}

#content .content__filter ul li:nth-child(2) {
  border: 1px solid gray;
  border-top: none;
  border-bottom: none;
}

#content .content__filter .select-wrap i {
  font-size: 1.5rem;
}

#content .content__filter select {
  color: rgba(0, 0, 0, 0.6);
  padding: 6px 12px;
  outline: none;
}

.content__list {
  padding-top: 64px;
}

.home__item:hover img {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.home__view {
  position: relative;
  overflow: hidden;
}

.home__view img {
  display: block;
  width: 100%;
}

.home__view__status {
  position: absolute;
  top: 10px;
  left: 10px;
}

.home__view__status label {
  margin-bottom: 5px;
  padding: 1px 7px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.home__view__like {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
}

.home__view__like:hover {
  background: #f23a2e;
}

.home__view__like:hover i {
  color: #fff;
}

.home__view__like i {
  font-size: 1.6rem;
  display: block;
}

.home__info {
  background: #fff;
  padding: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.home__info strong {
  display: block;
  font-size: 2rem;
  margin-bottom: 16px;
  color: #7cbd1e;
}

.home__info span {
  font-size: 1.5rem;
  margin-bottom: 14px;
  width: 100%;
  display: block;
  color: rgba(0, 0, 0, 0.6);
}

.info__name {
  font-size: 2rem;
  margin-bottom: 8px;
}

.info__name a {
  color: #000;
}

.info__properties li {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.info__properties li span {
  width: 100%;
  display: block;
}

.info__properties .prop__name {
  font-size: 1rem;
  text-transform: uppercase;
}

.info__properties .prop__number {
  color: #000;
  font-size: 2rem;
}

.info__properties .prop__number sup {
  font-size: 1.5rem;
}

.content__list-full {
  padding: 64px 0;
  display: none;
}

#view-list:checked ~ .content__list-full {
  display: block;
}

#view-list:checked ~ .content__list {
  display: none;
}

.pagination li {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.pagination li:hover {
  border: 1px solid #ccc;
}

.pagination a {
  width: 100%;
  border-radius: 50%;
}

.pagination a,
.pagination span {
  display: inline-block;
  color: #333;
  font-size: 1.5rem;
  line-height: 50px;
}

.pagination span {
  padding: 0 5px;
}

.pagination ul li:first-child {
  background-color: #7cbd1e;
}

.pagination ul li:first-child a {
  color: #fff;
}

.pagination ul li:nth-child(6) {
  background-color: transparent;
  border: none;
}

.content-desc__head h1 {
  text-transform: uppercase;
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 8px;
}

.content-desc__head p {
  margin-bottom: 16px;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.content-desc__list h2,
.content-desc__list p {
  margin-bottom: 16px;
}

.content-desc__list h2 {
  font-size: 2rem;
  color: #000;
}

.content-desc__list p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

#content-blog {
  background-color: #f9f9f9;
}

#content-blog .blog__item {
  margin-top: 48px;
}

#content-blog .blog__item img {
  display: block;
  width: 100%;
}

.blog__info {
  padding: 24px 0;
  background-color: #fff;
}

.blog__info span,
.blog__info p {
  color: rgba(0, 0, 0, 0.6);
}

.blog__info h2,
.blog__info p {
  margin-bottom: 16px;
}

.blog__info span {
  font-size: 1.28rem;
  text-transform: uppercase;
}

.blog__info h2 {
  color: #1f3c88;
  font-size: 2rem;
}

.blog__info p {
  font-size: 1.6rem;
}

.section-content {
  padding: 112px 0;
}

.content-person {
  background-color: #fff !important;
}

#content-blog .person-name {
  color: #000 !important;
}

#content-blog .person-img {
  border-radius: 0.4rem;
}

#content-blog .person-social a {
  color: #000;
}

#content-blog .person-social i {
  padding: 8px;
  font-size: 1.5rem;
}

#footer {
  background-color: #333;
}

#footer h3 {
  display: block;
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  margin-bottom: 24px;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.12rem;
  font-weight: 200;
}

#footer h3 ::after {
  background-color: #fff;
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footer p,
#footer a {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 200;
}

#footer a:hover {
  color: white;
}

#footer ul li {
  margin-bottom: 10px;
}

#footer .icon__item {
  display: inline-block;
  padding-right: 40px;
}

#footer .navigation__list {
  width: 100%;
}

#about-company img {
  display: block;
  width: 100%;
}

#about-company .company__desc > * {
  margin-bottom: 16px;
  display: block;
}

#about-company .company__desc h1 {
  font-size: 3.2rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

#about-company .company__desc span {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}

#about-company .company__desc p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

#about-company .company__desc p a {
  display: inline-block;
  padding: 8px 48px;
  color: #1f3c88;
  border: 1px solid #1f3c88;
}

#about-company .company__desc p a:hover {
  background-color: #1f3c88;
  color: #fff;
}

#about-question .question__desc > * {
  margin-bottom: 16px;
}

#about-question .question__desc {
  margin-bottom: 16px;
}

#about-question .question__desc h1 {
  font-size: 3.2rem;
  color: #000;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

#about-question .question__desc p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

#about-question .question__list .question__header {
  cursor: pointer;
}

#about-question .question__list .question__header .fa-solid.fa-angle-up {
  background-color: #1f3c88;
}

#about-question .question__list .question__header i {
  height: 24px;
  width: 24px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 24px;
  margin-left: -10px;
  border: 1px solid #ccc;
  color: #ccc;
}

#about-question .question__list .question__header h3 {
  display: inline-block;
  padding: 10px 4px;
}

#about-question .question__list p {
  padding-left: 25px;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
}

#about-question .question__expand {
  background-color: #1f3c88;
}

#contact .form {
  display: block;
  padding: 48px;
  font-size: 1.75rem;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.6);
}

#contact .form label {
  margin-bottom: 8px;
  font-weight: 600;
}

#contact .form input, #contact .form textarea {
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
}

#contact .form input:focus, #contact .form textarea:focus {
  border-color: #1f3c88;
}

#contact .form .btn {
  border: none;
  font-size: 1.75rem;
  background-color: #1f3c88;
  color: #fff;
  border-radius: 0;
}

#contact .form .btn:hover {
  background-color: #182e69;
}

#contact .contact__info {
  color: rgba(0, 0, 0, 0.6);
  padding: 24px;
  font-size: 1.75rem;
}

#contact .contact__info h3 {
  text-transform: uppercase;
  color: #000;
}

#contact .contact__info span {
  font-weight: 600;
}

#contact .contact__info a {
  color: #1f3c88;
}

#contact .contact__info a:hover {
  color: #11214a;
}
/*# sourceMappingURL=style.css.map */